@page
@model CodingWebApp.Pages.ListModel
@{
}

<a href="/Details/0">Add New</a>
<ul id="lstList">
    @foreach (var item in Model.Items)
    {
        <li>@item.Name</li>
    }
</ul>

<table>
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td><a href="Details/@item.Id">Edit</a></td>
            </tr>
        }
    </tbody>
</table>